.kaggle-logo {
    width: 30px; /* Adjust the size as needed */
    height: auto;
}


.github-logo {
    width: 30px; /* Adjust the size as needed */
    height: auto;
}

.linkedin-logo {
    width: 30px; /* Adjust the size as needed */
    height: auto;
}

.X-logo {
    width: 30px; /* Adjust the size as needed */
    height: auto;
}
